.analysis-brands {
    &__title {
        font-family: "Ubuntu-Bold";
        font-size: clamp(18px, 3vw, 24px);
    }

    &__diagram {
        max-height: 400px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
}


@media (max-width: 380px) {
    .analysis-brands{
        display: none;
    }
}