
.dialog{
    &__right{
        display: grid;
        gap: 1.3em;
        align-content: start;
        margin-top: 1.6em;
        .right__locker{
            &-img{

            }
        }
        .right__content{
            display: flex;
            gap: 3em 2em;
            flex-wrap: wrap;
            &-article{
                width: 20%;
            }
            &-color{
                width: 70%;
            }
            &-price{
                width: 30%;
            }
            &-currency{
                width: 20%;
            }
            &-brand{
                width: 30%;
            }
            &-size{
                width: 30%;
            }
        }
    }


}