.subscribe-block {
    background-color: #151D31;
    border-radius: 20px;
    padding: 2em;
    box-sizing: border-box;
    display: grid;
    gap: 1em;
    &__tariff{
        
        .tariff{
            &__heading{

            }
            &__info{
                display: flex;
                flex-wrap: wrap;
                &-name{
                    width: 90%;
                }
                &-price{
                    width: 10%;
                    justify-self: flex-end;
                    text-wrap: nowrap;
                }
                &-name, &-price{
                    font-family: "Ubuntu-Bold";
                    font-size: 18px;
                }
                &-next{
                    font-size: 14px;
                    color: #56CCF2;
                    width: 50%;
                }
                &-cancel{
                    display: flex;
                    width: 50%;
                    font-size: 14px;
                    color: #EB5757;
                    text-decoration: underline;
                    justify-content: flex-end;
                    cursor: pointer;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .subscribe-block__tariff {
        .tariff {
            &__heading {}

            &__info {
                display: flex;
                flex-wrap: wrap;

                &-name {
                    width: 90%;
                }

                &-price {
                    width: 10%;
                }

                &-name,
                &-price {
                    font-size: 14px;
                }

                &-next {
                    font-size: 12px;
                    width: 100%;
                }

                &-cancel {
                    width: 100%;
                    font-size: 12px;
                    justify-content: flex-start;
                }
            }
        }
    }
}