@use "../../../../../styles/variables.scss" as *;

.privacy{
    background-color: $color-secondary;
    padding: 2em;
    border-radius: 20px;
    &__heading{
        font-family: "Ubuntu-Bold";
        font-size: 18px;
    }
    &__fields{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 1em;
    }
}
@media (max-width: 1300px) {
    .privacy__fields {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1060px) {
    .privacy__fields {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 580px) {
    .privacy__fields {
        grid-template-columns: 1fr;
    }
}