.dialog {

    &__wrapper-left {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    &__wrapper-right {
        width: 60%;
    }

    &__wrapper-down {
        grid-column: 1/3;
    }
}


@media (max-width: 625px) {
    .dialog__wrapper-down {
        grid-column: 1/2;
    }
}