$color-background: #081C21;
$color-primary: #24ba7d;
$color-secondary: #172A2A;
$color-tertiary: #1f3737;
$color-quaternary: #284640;
$color-quaternary-light: #335851;
$color-text: #609f94;
$color-text--active: #76bbb0;
$color-scrollbar: #89d4a3;
$color-scrollbar-track: #0f2a31;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;