@use "../../../../../../styles/variables.scss" as *;

.dropdown{
    display: grid;
    margin-top: 1em;
    gap: .5em;
    &__heading{
        display: flex;
        gap: .5em;
        color: $color-text;
        font-size: 14px;
        &-text{}
        &-information{}
    }
}