.product__info{
    width: 250px;
    &-list{
        display: grid;
        gap: .5em;
    }
    &-item{
        display: flex;
        gap: 2em;
    }


    &-icon{
        width: 35px;
        max-height: 40px;
        object-fit: contain;
    }


    &-text{
        
    }
}

@media (max-width: 1191px) {
    .product__info{
        width: 50%;
        &-list{
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media (max-width: 940px) {
    .product__info{
        width: 45%;
        &-list{
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width: 550px) {
    .product__info{
        width: 100%;
        &-list{
            grid-template-columns: 1fr 1fr;
        }
    }
}