@use "../../../styles/variables.scss" as *;

.property{
    position: relative;
    &__title{
        color: $color-text;
        font-size: clamp(12px, 2vw, 14px);
    }
    &__value{
        font-size: clamp(14px, 2vw, 18px);
    }
}