.form-user-info{
    margin-top: 1em;
    display: grid;
    &__inputs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    &__button{
        display: grid;
        margin-top: 1em;
        align-items: end;
    }
}


@media (max-width: 438px) {
    .form-user-info{
        &__inputs{
            grid-template-columns: 1fr;
        }
    }
}