.product__preinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}


@media (max-width: 1270px) {
    .product__preinfo {
        flex-wrap: wrap;
    }
}

@media (max-width: 930px) {
    .product__preinfo {
        gap: 1em;
    }
}