@use "../../../../styles/variables.scss" as *;

.user-info{
    display: grid;
    gap: 1em;
    min-width: 415px;
    &__edit{
        display: grid;
        gap: 2em;
        padding: 2em;
        border: 2px solid $color-primary;
        border-radius: 20px;
        overflow: hidden;
        max-height: 65px;
        transition: max-height .2s ease-in-out;
        &--open{
            max-height: 1000px !important;
            padding-bottom: 4em;
        }
    }
    &__subscribe{
        
    }
}

@media (max-width: 438px) {
    .user-info{
        min-width: 200px;
        &__edit{
            max-height: 120px;
        }
    }
}