@use "../../../../styles/variables.scss" as *;

.inventory__content {
    box-sizing: border-box;
    margin-top: 3em;
    padding-right: 2em;
    height: calc(100vh - 210px);
    overflow-y: auto;
}

.inventory__content::-webkit-scrollbar {
    width: 10px;
    /* Ширина всего элемента навигации */
}

.inventory__content::-webkit-scrollbar-track {
    background: $color-scrollbar-track;
    /* Цвет дорожки */
    border-radius: 20px;
}

.inventory__content::-webkit-scrollbar-thumb {
    background-color: $color-scrollbar;
    /* Цвет бегунка */
    border-radius: 20px;
    /* Округление бегунка */
}


@media (max-width: 1024px) {
    .inventory__content{
        height: calc(100vh - 180px);
        margin-top: 2em;
    }
}
@media (max-width: 860px) {
    .inventory__content{
        height: calc(100vh - 230px);
    }
}
@media (max-width: 530px) {
    .inventory__content{
        padding-right: 1em;
        margin-top: 1em;
        height: calc(100vh - 200px);
    }
}
@media (max-width: 330px) {
    .inventory__content{
        height: calc(100vh - 240px);
    }
}