.select{
    position: relative;
    display: grid;
    cursor: pointer;
    &__image{
        position: absolute;
        right: 1.3em;
        top: 50%;
        transform: translateY(-50%);
    }
    &__input{
        border: 2px solid #2D9CDB;
        padding: .7em 1.3em;
        font-size: 14px;
        border-radius: 20px;
        cursor: pointer;
        background-color: transparent;
        color: #ffffff;
        outline: none;
    }
}
.select-field{
    position: relative;
    display: grid;
    &__image{
        position: absolute;
        right: .5em;
        bottom: .6em;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &__input{
        outline: none;
        border: none;
        cursor: pointer;
        border-bottom: 2px solid #394974;
        background-color: transparent;
        width: 100%;
        padding: .5em 0;
        font-size: 18px;
        color: #ffffff;
        transition: border-bottom .2s;
        &.active{
            border-bottom: 2px solid #576eae;
        }
        &::placeholder{
            color: #394974;
        }
    }
}