@use "../../../styles/variables.scss" as *;

.field{
    position: relative;
    display: grid;
    &__heading{
        color: $color-text;
        margin: 0;
        font-size: 14px;
        transition: color .2s;
        &.active{
            color: $color-text--active;
        }
    }
    &__input{
        outline: none;
        border: none;
        border-bottom: 2px solid $color-quaternary;
        background-color: transparent;
        width: 100%;
        padding: .5em 0;
        font-size: 18px;
        color: #ffffff;
        transition: border-bottom .2s;
        &.active{
            border-bottom: 2px solid $color-quaternary-light;
        }
        &::placeholder{
            color: $color-quaternary;
        }
    }
    .loading{
        position: absolute;
        bottom: 10px;

    }
}

.field-password{
    position: relative;
    &__show{
        position: absolute;
        bottom: .5em;
        right: .5em;
    }
}


@media (max-width: 1024px) {
    
    .field{
        &__heading{
            font-size: 12px;
        }
        &__input{
            font-size: 16px;
        }
    }
    
}