.product{
    &__back{
        &-button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
    &__wrapper{
        display: flex;
        gap: 2em;
        flex-wrap: wrap;
        margin-top: 2em;
    }
    &__card{
        
    }
}