@use "../../../styles/variables.scss" as *;

.registration {
    width: 600px;
    padding-bottom: 2em;
    .auth__form{
        
        &-checkbox{
            grid-column: 1/3;
        }
    }
    .auth__control{
    }
    &__price{
        display: flex;
        gap: 1em;
        align-items: center;
        margin-top: 3em;
        &-value{
            font-family: "Ubuntu-Bold", sans-serif;
            font-weight: bold;
            font-size: 24px;
        }
        &-text{
            width: 150px;
            font-size: 14px;
            color: $color-text;
            line-height: 1em;
        }
    }
}

@media (max-width: 700px) {
    .registration{
        width: 90vw;
    }
}
@media (max-width: 550px) {
    .registration{
        .auth__form{
            grid-template-columns: 1fr !important;
            gap: 1.5em;
            &-checkbox{
                grid-column: 1/2;
            }
        }
    }
}