@use "../../../../../styles/variables.scss" as *;

.location{
    background-color: $color-secondary;
    padding: 1em 2em;
    border-radius: 20px;
    &__fields{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}
@media (max-width: 1300px) {
    .location__fields {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1060px) {
    .location__fields {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 580px) {
    .location__fields {
        grid-template-columns: 1fr;
    }
}